$font-family: 'Lato', sans-serif;
$primary-color: rgb(11, 92, 241);
$white-color: #fff;
$primary: #ccc;
// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 576px) { 
  // navBar
  #desktop_nav{
    background: rgba(rgb(0, 0, 0),.8) !important;
    .nav-item{
      margin: 5px auto;
    }
    .lang{
      padding: 5px 25px;
    }
  }
  // carousel
  .carousel-inner {
    h1 {
      font-size: 2.1rem !important;
      text-align: left;
    }
    h4 {
      font-size: 1.7rem !important;
      text-align: left;
    }
    a {
      text-align: center;
      font-size: .9rem !important;
    }
  }
  // About Us 
 .card-deck{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
 }


 #admission{
   .admission-text {
     font-size: 1rem !important;
   }

   a{
     font-size: .9rem !important;
   }
 }
 
 #contact-us{
  .about{
    p {
      text-align: center !important;
    }
  }
  .quick-links{
    display: none;
  }
 
  .question {
   h4{
     text-align: center !important;
   }
   h6 {
      text-align: center !important;
    }
  }
 }

 // About Us Page
#about-us-page{
  // margin: 5rem 0;
  h2 {
    font-size: 1.2rem !important;
  }
  p {
    letter-spacing: 0.08rem;
    text-align: justify;
    font-size: .9rem !important;
    margin: 0;
    padding: 0;
  }
  h5 {
    font-size: 1.1rem;
  }
  li {
    font-size: .8rem !important;
  }
}
  
}



// Medium devices (tablets, 768px and up)
@media screen and (min-width: 576px) and (max-width: 767.98px) { 
  #desktop_nav{
    background: rgba(rgb(0, 0, 0),.8) !important;
    .nav-item{
      margin: 5px auto;
    }
    .lang{
      padding: 5px 25px;
    }
  }
  // carousel
  .carousel-inner {
    h1 {
      font-size: 2.1rem !important;
      text-align: left;
    }
    h4 {
      font-size: 1.7rem !important;
      text-align: left;
    }
    a {
      text-align: center;
      font-size: 5px;
    }
  }
  // About Us 
 .card-deck{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
 }


 #admission{
   .admission-text {
     font-size: 1rem !important;
   }

   a{
     font-size: .9rem !important;
   }
 }
 
 #contact-us{
  .about{
    p {
      text-align: center !important;
    }
  }
  .quick-links{
    display: none;
  }
 
  .question {
   h4{
     text-align: center !important;
   }
   h6 {
      text-align: center !important;
    }
  }
 }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) { 
  #desktop_nav{
    background: rgba(rgb(0, 0, 0),.8) !important;
    .nav-item{
      margin: 5px auto;
    }
    .lang{
      padding: 5px 25px;
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {  }