@import 'common';
@import 'mobile';
@import 'about-us';
// @import "bootstrap";
// @import "bootstrap/functions";
// @import "bootstrap/variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

$font-family: 'Lato', sans-serif;
$primary-color: rgb(11, 92, 241);
$white-color: #fff;
$primary: #ccc;

// offset
.offset:before {
  height: 2rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

.line-contact {
  content: '';
  width: 12rem;
  height: .1rem;
  margin: 1rem auto;
  background: $white-color;
}
.line-heading{
  content: '';
  width: 12rem;
  height: .2rem;
  margin: 1rem auto;
  background: #f82249;
  
}

.heading{
  font-size: 2rem;
    text-align: center;
  text-transform: uppercase;
}

body{
  overflow-x: hidden;
  font-size: 10px;
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}


/* NavBar */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem; 
  letter-spacing: 0.08rem;
  background: rgba(rgb(0, 0, 0),0.3) !important;
  img {
    height: 3.1rem !important;
  }
  a {
    display: flex;
    align-items: center;
    // padding-right: 0.7rem;
    margin: 0 0.1rem;
    color: white !important;
    &:hover{
      color: $primary-color;
      text-decoration: none;
    }
  }
  h6{
    font-size: 1.5rem;
  }
  a[type="button"]{
    border-color: #ccc;
    font-weight: 900;
    color: $primary-color;
    background: {
      image: linear-gradient(45deg,$primary-color 50%, transparent 50%);
      position: 100%;
      size: 400%;
     }
    transition: background 300ms ease-in-out;
    &:hover {
      background-position: 0;
      color: black;
      font-weight: 900;
      background-color: $primary-color;
      text-decoration: none;
    }
  }
}

/* Slider */

#caroselIndicators {
  height: 100vh;
  // background-color: rgba(0,0,0,0.5);
  // ol {
  //   list-style-type: none;
  // }
  .carousel-item{
    background-size: cover;
    // z-index: -1;
    background-position: center;
    font-family: $font-family;
    height: 100vh;
    width: 100vw;
    h1 {
      font-size: 4rem;
      margin: 1rem 0;
    } 
  } 
  .carousel-caption{
    height: 70vh;
    text-align: left;
    // transition: opacity 0.4s ease-in-out;
    a {
      border-radius: 30px;
      color: $primary-color;
      text-transform: uppercase;
      background-color: rgba($white-color,0.8);
      &:hover{
        color: $white-color;
        background-color: transparent;
        // background-color: $white-color;
      }
      h6{
        padding: 0.3rem .6rem;
        margin: 0 auto;
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
      // Animation carousel caption
    }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: white;
    // background-size: 100%, 100%;
  } 
}


#about-us{
  // height: 100vh;
  .jumbotron{
    background-color: white;
  }
  #accordion{
    .card{
      border-radius: 0;
      border: 0;
      margin-top: 0;
      .card-body{
        h6{
          font-size: 1.3rem;
        }
        font-family: $font-family;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.158);
      }
      button{
        display: block;
        border-bottom: 1px solid $primary-color;
        text-decoration: none;
      }
      .card-header{
        padding: 0;
        border-radius: 0;
        background-color: $white-color;
        text-align: center;
        font-family: $font-family;
        .btn-link{
          font-size: 1.2rem;
        }
        text-transform: uppercase;
        &:hover, &:focus{
          // background-color: #b42b2b;
          background-color: $primary-color;
          color: white;
          transition: all 0.2s ease-in;
        }
        &:hover::before, &:focus::before{
          color: white;
        }
    } 
  }
  }
  .card-deck{
    margin: 3rem 0;
    .card{
      // background-color: rgba(204, 204, 204, 0.144);
      padding: 3rem 1rem; 
      border: 1px solid #ccc;
      border-radius: 10px;
      i {
        font-size: 5rem;
        text-align: center;
        opacity: 0.6;
      }
      h3{
        text-align: center;
        font-size: 0.8rem;
        margin-top: 1rem;
        font-family: $font-family;
        text-transform: capitalize;
      }
      &:hover{
        box-shadow: 0px 5px 20px #555;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        h3 {
          opacity: 1;
          color: white;
        }
        i{
          color: white;
          opacity: 1;
        }
      }
    }
  }
  .course{
    &:hover{
      background-image: url(/docs/assets/img/about-us/study.png);
    }
  }
  .study{
    &:hover{
      background-image: url(/docs/assets/img/about-us/instructor.png);
    }
  }
  .school{
    &:hover{
      background-image: url(/docs/assets/img/about-us/training.png);
    }
  }
  .graduation{
    &:hover{
      background-image: url(/docs/assets/img/about-us/certifiate.png);
    }
  }
  a{
    text-transform: capitalize;
    &:hover{
      color: white;
      cursor: pointer;
    }
  }
}


#course{
  .card {
    width: 300px;
    height: 400px;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0px 5px 20px #555;
    a {
        color: #333;
        text-decoration: none;
    }
    .card-image{
      height: 400px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: grayscale(1);
        transition-property: filter width;
        transition-duration: .3s;
      }
    }
    &:hover .card-image img {
      width: 110%;
      filter: grayscale(0);
    }
    .card-body{
      font-family: $primary-color;
      .card-title{
        text-transform: uppercase;
        h3{
          font-size: 1rem;
          text-align: center;
        }
      }
      a {
        text-transform: uppercase;
        font-size: .9rem;
        &:hover{
          color: white;
        }
      }
    }
  }
 }
 

#news{
  margin:0;
  .jumbotron{
    background-color: rgba(204, 204, 204, 0.11);
  }
  .news-card{
    margin: 0.4rem;
    padding: 1rem;
    text-align: left;
    background-color: $white-color;
    font-family: $font-family;
    .news-card-img {
      // padding: 0 auto;
      width: 100%;
      height: 95%;
    }
    h6{
      text-transform: capitalize;
      font-size: 1.1rem;
    }
    .date{
      color: #ccc;
      font-size: .8rem;
    }
    p{
      text-align: justify;
      font-size: .9rem;
    }  
  }
}

#admission{
  
  .heading{
    margin-top: 4rem;
  }
  padding: 2rem;
  background-color: $white-color;
  img {
    width: 100%;
    height: 80%;
    box-shadow: 0px 5px 20px #555;
  }
  .admission-text {    
    font-size: 1.3rem;
    padding: 1.8rem;
    margin: 1rem;
    font-family: $font-family;
    text-align: justify;
    border: 1px solid $white-color;
    border-radius: 20px;
    background-color: rgba(204, 204, 204, 0.158);
  }
  a {
    text-transform: capitalize;
    font-family: $font-family;
    font-size: 1.3rem;
    &:hover{
      color: white;
    }
  }
}

#subscribe{

  .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }

  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  .subscribe {
      padding: 15vh 0;
      background: url(/docs/assets/img/contact-bg.png) center center no-repeat;
      background-size: cover;
      overflow: hidden;
      position: relative;
      min-height: 60vh;
  }

  .subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .subscribe .section-header h2,
  .subscribe p {
    color: #fff;
  }

  .subscribe input {
    background: #fff;
    color: #060c22;
    border: 0;
    outline: none;
    margin: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
  }

  .subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
    border-radius: 50px;
  }

  .subscribe button:hover {
    background: transparent;
    color: $white-color;
    border: 1px solid white;
  }

  @media only screen and (min-width: 768px) {
    .subscribe input {
      min-width: 400px;
  }

}
}

#contact-us{
  // background-image: url(/dist/assets/img/contact-bg.png);
  // background-color: #ccc;
  // position: relative;
  .line-contact{
    display: none;
  }
  margin-top: 4rem;
  background-color: #4d4b4bea;
  color: white;
  width: 100vw;
  height: 100%;
  font-family: $font-family;
  h4 {
    margin-top:1rem;
    text-transform: uppercase;
  }
  .about{
    font-family: $font-family;
    text-align: center;
    h4{
      margin-top: 0;
    }
    img {
      width: 70px;
      height: 70px;
      margin: 0 auto;
    }
    p {
      text-align: left;
      font-size: .9rem;
    }
    .social-links a{
      text-align: center;
      float: left;
      width: 40px;
      height: 40px;
      border: 1px solid #909090;
      border-radius: 100%;
      margin-right: 7px; /*space between*/
      i {
        font-size: 1.3rem;
        line-height: 38px;
        color: #e9e3e3; 
      }
      &:hover {
        background-color: #909090;
        color: white;
      }
    }
  }
  .quick-links{
    ul {
      margin-top: 1.4rem;
    }
    li{
      list-style: none;
      font-size:.8rem;
      margin-top: .9rem;
      text-align: left;
      a{
        color: #e9e3e3;
        text-transform: uppercase;
      }
    }
  }
  .question{
    ul {
      margin-top: 2rem;
    }
    li {
      list-style: none;
    }
    h6{
      font-size:1rem;
      font-family: $font-family;
      font-weight: 100;
      text-align: left;
    }
    i {
      text-align: center;
      font-size: 1.3rem;
      margin-right: .4rem;
      font-size: 1.3rem;
      line-height: 38px;
      color: #e9e3e3; 
    }
  }
  iframe {
    border: 1px solid red;

  }
  .line-contact{
    width: 80%;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.199);
    border: 0.05rem solid (rgba(255, 255, 255, 0.507));
    margin: .8rem auto;
  }
  
}
// Extra small devices (portrait phones, less than 576px)


// About Us Page
#about-us-page{
  .card{
    margin: 0.4rem;
    padding: 1rem;
    // text-align: left;
    background-color: rgba(204, 204, 204, 0.178);
    font-family: $font-family;
  }
  margin: 5rem 0;
  h2 {
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem .5rem;
  }
  p {
    letter-spacing: 0.08rem;
    text-align: justify;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
  h5 {
    font-size: 1.1rem;
  }
  li {
    font-size: 1rem;
  }
}