@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Cairo&subset=arabic");
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff; }

#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

@media screen and (max-width: 576px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  .carousel-inner h1 {
    font-size: 2.1rem !important;
    text-align: left; }
  .carousel-inner h4 {
    font-size: 1.7rem !important;
    text-align: left; }
  .carousel-inner a {
    text-align: center;
    font-size: .9rem !important; }
  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
  #about-us .heading {
    margin-top: 2.4rem; }
  #admission .admission-text {
    font-size: 1rem !important; }
  #admission a {
    font-size: .9rem !important; }
  #news-item p {
    font-size: .7rem !important; }
  #contact-us {
    padding: 2rem 0;
    height: 100% !important; }
    #contact-us .about p {
      text-align: center !important; }
    #contact-us .quick-links {
      display: none; }
    #contact-us .question h4 {
      text-align: center !important; }
    #contact-us .question h6 {
      text-align: center !important; }
  #about-us-page h2 {
    font-size: 1.2rem !important; }
  #about-us-page p {
    letter-spacing: 0.08rem;
    text-align: justify;
    font-size: .9rem !important;
    margin: 0;
    padding: 0; }
  #about-us-page h5 {
    font-size: 1.1rem; }
  #about-us-page li {
    font-size: .8rem !important; }
  #course-page .card img {
    margin-bottom: 1rem; } }

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  .carousel-inner h1 {
    font-size: 2.1rem !important;
    text-align: left; }
  .carousel-inner h4 {
    font-size: 1.7rem !important;
    text-align: left; }
  .carousel-inner a {
    text-align: center;
    font-size: 5px; }
  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
  #admission .admission-text {
    font-size: 1rem !important; }
  #admission a {
    font-size: .9rem !important; }
  #contact-us {
    padding: 2rem 0;
    height: 100% !important; }
    #contact-us .about p {
      text-align: center !important; }
    #contact-us .quick-links {
      display: none; }
    #contact-us .question {
      margin: 0 !important; }
      #contact-us .question h4 {
        text-align: center !important; }
      #contact-us .question h6 {
        text-align: center !important; }
  #course-page .card img {
    margin: 1rem auto; } }

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  #contact-us .about {
    margin: 0 auto; }
  #contact-us .quick-links {
    margin: 0 auto;
    text-align: center; } }

@media screen and (max-width: 576px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  .carousel-inner h1 {
    font-size: 2.1rem !important;
    text-align: rigth; }
  .carousel-inner h4 {
    font-size: 1.7rem !important;
    text-align: right; }
  .carousel-inner a {
    text-align: right;
    font-size: .9rem !important; }
  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
  #about-us .heading {
    margin-top: 2.4rem; }
  #admission .admission-text {
    font-size: 1rem !important; }
  #admission a {
    font-size: .9rem !important; }
  #news-item p {
    font-size: .7rem !important; }
  #contact-us {
    padding: 2rem 0;
    height: 100% !important; }
    #contact-us .about p {
      text-align: center !important; }
    #contact-us .quick-links {
      display: none; }
    #contact-us .question h4 {
      text-align: center !important; }
    #contact-us .question h6 {
      text-align: center !important; }
  #about-us-page h2 {
    font-size: 1.2rem !important; }
  #about-us-page p {
    letter-spacing: 0.08rem;
    text-align: justify;
    font-size: .9rem !important;
    margin: 0;
    padding: 0; }
  #about-us-page h5 {
    font-size: 1.1rem; }
  #about-us-page li {
    font-size: .8rem !important; }
  #course-page .card img {
    margin-bottom: 1rem; }
  #news {
    padding-top: 1rem; } }

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  .carousel-inner h1 {
    font-size: 2.1rem !important;
    text-align: left; }
  .carousel-inner h4 {
    font-size: 1.7rem !important;
    text-align: left; }
  .carousel-inner a {
    text-align: center;
    font-size: 5px; }
  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
  #admission .admission-text {
    font-size: 1rem !important; }
  #admission a {
    font-size: .9rem !important; }
  #contact-us {
    padding: 2rem 0;
    height: 100% !important; }
    #contact-us .about p {
      text-align: center !important; }
    #contact-us .quick-links {
      display: none; }
    #contact-us .question {
      margin: 0 !important; }
      #contact-us .question h4 {
        text-align: center !important; }
      #contact-us .question h6 {
        text-align: center !important; }
  #course-page .card img {
    margin: 1rem auto; } }

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; }
  #contact-us .about {
    margin: 0 auto; }
  #contact-us .quick-links {
    margin: 0 auto;
    text-align: center; } }

@media screen and (min-width: 992px) {
  #desktop_nav {
    background: rgba(0, 0, 0, 0.8) !important; }
    #desktop_nav .nav-item {
      margin: 5px auto; }
    #desktop_nav .lang {
      padding: 5px 25px; } }

#arab {
  /* NavBar */
  font-family: "Cairo", sans-serif; }
  #arab nav {
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.9) !important; }
    #arab nav img {
      height: 4rem !important; }
    #arab nav h6 {
      font-size: 1.5rem; }
    #arab nav a {
      display: flex;
      align-items: center;
      color: white !important;
      transition: background 200ms ease-in-out; }
      #arab nav a .active {
        color: #f82249 !important; }
      #arab nav a:hover {
        font-weight: 900;
        color: #f82249 !important;
        text-decoration: none; }
    #arab nav input::placeholder {
      text-align: right; }
  #arab #caroselIndicators {
    height: 100vh; }
    #arab #caroselIndicators .carousel-item {
      background-size: cover;
      background-position: center;
      font-family: "Lato", sans-serif;
      height: 100vh;
      width: 100vw;
      font-weight: 900; }
      #arab #caroselIndicators .carousel-item h1 {
        font-size: 4rem;
        font-weight: bold;
        margin: 1rem 0; }
      #arab #caroselIndicators .carousel-item h4 {
        font-size: 3rem; }
    #arab #caroselIndicators .carousel-caption {
      height: 70vh;
      text-align: right;
      transition: opacity 0.4s ease-in-out; }
      #arab #caroselIndicators .carousel-caption a {
        font-size: 1.5rem;
        font-weight: bold;
        border: 1px solid #fff;
        border-radius: 30px;
        color: #0b5cf1;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.8); }
        #arab #caroselIndicators .carousel-caption a:hover {
          color: #fff;
          background-color: transparent; }
    #arab #caroselIndicators .carousel-control-prev-icon,
    #arab #caroselIndicators .carousel-control-next-icon {
      height: 30px;
      width: 30px;
      outline: white; }
  #arab #subscribe .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px; }
  #arab #subscribe .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px); }
  #arab #subscribe .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px; }
  #arab #subscribe form {
    display: flex;
    justify-content: center; }
  #arab #subscribe .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2; }
  #arab #subscribe .subscribe {
    padding: 15vh 0;
    background: url(../assets/img/contact-bg.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: 30vh; }
  #arab #subscribe .subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  #arab #subscribe .subscribe .section-header h2,
  #arab #subscribe .subscribe p {
    color: #fff; }
  #arab #subscribe .subscribe input {
    background: #fff;
    color: #060c22;
    border: 0;
    outline: none;
    margin: 0 5px;
    padding: 9px 10px;
    border-radius: 50px;
    font-size: 14px; }
    #arab #subscribe .subscribe input::placeholder {
      text-align: right; }
  #arab #subscribe .subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: #0b5cf1;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
    border-radius: 50px; }
  #arab #subscribe .subscribe button:hover {
    background: transparent;
    color: #fff;
    border: 1px solid white; }
  @media only screen and (min-width: 768px) {
    #arab #subscribe .subscribe input {
      min-width: 400px; } }
  #arab #contact-us {
    background-color: #4d4b4bea;
    color: white;
    font-family: "Lato", sans-serif; }
    #arab #contact-us h4 {
      margin-top: 1.3rem;
      font-weight: bold; }
    #arab #contact-us .about {
      font-family: "Lato", sans-serif;
      text-align: center; }
      #arab #contact-us .about img {
        width: 40px;
        height: 40px;
        margin: 0 auto; }
      #arab #contact-us .about p {
        text-align: center;
        font-size: .9rem; }
      #arab #contact-us .about .social-links a {
        text-align: center;
        float: left;
        width: 40px;
        height: 40px;
        border: 1px solid #909090;
        border-radius: 100%;
        margin-right: 7px;
        /*space between*/ }
        #arab #contact-us .about .social-links a i {
          font-size: 1.3rem;
          line-height: 38px;
          color: #e9e3e3; }
        #arab #contact-us .about .social-links a:hover {
          background-color: #909090;
          color: white; }
    #arab #contact-us .quick-links ul {
      margin-top: 1.4rem; }
    #arab #contact-us .quick-links li {
      list-style: none;
      font-size: 1rem;
      margin-top: .9rem;
      text-align: right; }
      #arab #contact-us .quick-links li a {
        color: #e9e3e3;
        text-transform: uppercase; }
    #arab #contact-us .question h6 {
      font-size: 1.2rem;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      text-align: right;
      margin-left: 1.2rem; }
    #arab #contact-us .question a {
      text-decoration: none;
      color: white;
      padding: 0;
      font-size: 1rem;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      text-align: right; }
    #arab #contact-us .question i {
      text-align: right;
      font-size: 1.3rem;
      margin-right: .4rem;
      font-size: 1.3rem;
      line-height: 38px;
      color: #e9e3e3; }
    #arab #contact-us iframe {
      border: 1px solid red; }
    #arab #contact-us .line-contact {
      width: 80%;
      box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.199);
      border: 0.05rem solid rgba(255, 255, 255, 0.507);
      margin: .8rem auto; }
    #arab #contact-us .aetec {
      margin: .9rem !important; }
  #arab #about-us {
    margin-top: 2rem; }
    #arab #about-us .jumbotron {
      background-color: white; }
    #arab #about-us #accordion .card {
      border-radius: 0;
      border: 0;
      margin-top: 0; }
      #arab #about-us #accordion .card a {
        font-size: 1.5rem; }
      #arab #about-us #accordion .card .card-body {
        font-family: "Cairo", sans-serif;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.158); }
        #arab #about-us #accordion .card .card-body h6 {
          font-size: 1.3rem; }
      #arab #about-us #accordion .card button {
        display: block;
        border-bottom: 1px solid #0b5cf1;
        text-decoration: none; }
      #arab #about-us #accordion .card .card-header {
        padding: 0;
        border-radius: 0;
        background-color: #fff;
        text-align: center;
        font-family: "Lato", sans-serif;
        text-transform: uppercase; }
        #arab #about-us #accordion .card .card-header .btn-link {
          font-size: 1.2rem; }
        #arab #about-us #accordion .card .card-header:hover, #arab #about-us #accordion .card .card-header:focus {
          background-color: #0b5cf1;
          color: white;
          transition: all 0.2s ease-in; }
        #arab #about-us #accordion .card .card-header:hover::before, #arab #about-us #accordion .card .card-header:focus::before {
          color: white; }
    #arab #about-us .card-deck {
      margin: 3rem 0; }
      #arab #about-us .card-deck .card {
        padding: 3rem 1rem;
        border: 1px solid #ccc;
        border-radius: 10px; }
        #arab #about-us .card-deck .card i {
          font-size: 5rem;
          text-align: center;
          opacity: 0.6; }
        #arab #about-us .card-deck .card h3 {
          text-align: center;
          font-size: 1.5rem !important;
          margin-top: 1rem;
          font-family: "Lato", sans-serif;
          text-transform: capitalize; }
        #arab #about-us .card-deck .card:hover {
          box-shadow: 0px 5px 20px #555;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all .3s ease-in-out; }
          #arab #about-us .card-deck .card:hover h3 {
            opacity: 1;
            color: white; }
          #arab #about-us .card-deck .card:hover i {
            color: white;
            opacity: 1; }
  #arab #course {
    padding: 5.5rem 0; }
    #arab #course .card {
      width: 260px;
      height: 400px;
      margin: 0.5rem;
      background-color: white;
      box-shadow: 0px 5px 20px #555; }
      #arab #course .card a {
        color: #333;
        text-decoration: none; }
      #arab #course .card .card-image {
        height: 400px;
        position: relative;
        overflow: hidden; }
        #arab #course .card .card-image img {
          width: 100%;
          transform: translate(-50%, -50%);
          filter: grayscale(1);
          transition-property: filter width;
          transition-duration: .3s; }
      #arab #course .card:hover .card-image img {
        width: 110%;
        filter: grayscale(0); }
      #arab #course .card .card-body {
        font-family: #0b5cf1; }
        #arab #course .card .card-body .card-title {
          padding-top: 1rem;
          text-transform: uppercase; }
          #arab #course .card .card-body .card-title h3 {
            font-size: 1.3rem;
            text-align: center; }
        #arab #course .card .card-body a {
          text-transform: uppercase;
          font-size: .9rem; }
          #arab #course .card .card-body a:hover {
            color: white; }
  #arab #news {
    margin-top: 2.5rem; }
    #arab #news .jumbotron {
      background-color: rgba(204, 204, 204, 0.11); }
    #arab #news .news-card {
      margin: 0.4rem;
      padding: 1rem;
      text-align: left;
      background-color: #fff;
      font-family: "Lato", sans-serif; }
      #arab #news .news-card .news-card-img {
        width: 100%; }
      #arab #news .news-card h6 {
        text-transform: capitalize;
        font-size: 2rem; }
      #arab #news .news-card .date {
        color: #807b7b;
        font-size: 1rem; }
      #arab #news .news-card p {
        text-align: justify;
        font-size: .9rem; }
  #arab #admission {
    padding: 2rem;
    background-color: #fff; }
    #arab #admission .heading {
      margin-top: 4rem; }
    #arab #admission img {
      width: 100%;
      height: 80%;
      box-shadow: 0px 5px 20px #555; }
    #arab #admission p {
      font-size: 1.3rem;
      padding: 1.8rem;
      margin: 1rem;
      font-family: "Lato", sans-serif;
      border: 1px solid #fff;
      border-radius: 20px;
      background-color: rgba(204, 204, 204, 0.158); }
    #arab #admission a {
      text-transform: capitalize;
      font-family: "Lato", sans-serif;
      font-size: 1.3rem; }
      #arab #admission a:hover {
        color: white; }
  #arab #about-us-page .card {
    margin: 0.4rem;
    padding: 1rem;
    background-color: rgba(204, 204, 204, 0.178);
    font-family: "Lato", sans-serif;
    margin: 1.2rem 0; }
  #arab #about-us-page h2 {
    font-size: 2rem;
    text-transform: capitalize;
    padding: .1rem .5rem; }
  #arab #about-us-page p {
    letter-spacing: 0.08rem;
    text-align: justify !important;
    font-size: 1.3rem;
    margin: 0;
    padding: 0; }
  #arab #about-us-page h5 {
    font-size: 1.1rem; }
  #arab #about-us-page li {
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    padding: .5rem 0;
    list-style-type: square; }
  #arab #course-page .heading {
    margin-top: 6rem; }
  #arab #course-page .card {
    background-color: #90909011;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem;
    margin: 1rem; }
    #arab #course-page .card img {
      width: 100%;
      padding: auto 0;
      box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.432); }
    #arab #course-page .card h2 {
      text-align: right;
      font-size: 2rem; }
    #arab #course-page .card li {
      font-size: 1.3rem;
      list-style-type: none;
      text-align: right; }

.offset:after {
  height: 2rem;
  margin-top: -4rem;
  content: "";
  display: block; }

.line-contact {
  content: '';
  width: 12rem;
  height: .1rem;
  margin: 1rem auto;
  background: #fff; }

.line-heading {
  content: '';
  width: 12rem;
  height: .2rem;
  margin: 1rem auto;
  background: #f82249; }

.heading {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase; }

body {
  overflow-x: hidden;
  font-size: 10px; }

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff; }

#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

/* NavBar */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
  background: rgba(0, 0, 0, 0.5) !important; }
  .navbar img {
    height: 4rem !important; }
  .navbar h6 {
    font-size: 1.5rem; }
  .navbar a {
    display: flex;
    align-items: center;
    font-weight: 900;
    color: white !important;
    transition: background 200ms ease-in-out; }
    .navbar a .active {
      color: #f82249 !important; }
    .navbar a:hover {
      font-weight: 900;
      color: #f82249 !important;
      text-decoration: none; }

/* Slider */
#caroselIndicators {
  height: 100vh; }
  #caroselIndicators .carousel-item {
    background-size: cover;
    background-position: center;
    font-family: "Lato", sans-serif;
    height: 100vh;
    width: 100vw; }
    #caroselIndicators .carousel-item h1 {
      font-size: 4rem;
      margin: 1rem 0; }
  #caroselIndicators .carousel-caption {
    height: 70vh;
    text-align: left;
    transition: opacity 0.4s ease-in-out; }
    #caroselIndicators .carousel-caption a {
      font-size: 1.2rem;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #0b5cf1;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.8); }
      #caroselIndicators .carousel-caption a:hover {
        color: #fff;
        background-color: transparent; }
  #caroselIndicators .carousel-control-prev-icon,
  #caroselIndicators .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: white; }

#about-us {
  margin-top: 2rem; }
  #about-us .jumbotron {
    background-color: white; }
  #about-us #accordion .card {
    border-radius: 0;
    border: 0;
    margin-top: 0; }
    #about-us #accordion .card .card-body {
      font-family: "Lato", sans-serif;
      text-align: center;
      background-color: rgba(204, 204, 204, 0.158); }
      #about-us #accordion .card .card-body h6 {
        font-size: 1.3rem; }
    #about-us #accordion .card button {
      display: block;
      border-bottom: 1px solid #0b5cf1;
      text-decoration: none; }
    #about-us #accordion .card .card-header {
      padding: 0;
      border-radius: 0;
      background-color: #fff;
      text-align: center;
      font-family: "Lato", sans-serif;
      text-transform: uppercase; }
      #about-us #accordion .card .card-header .btn-link {
        font-size: 1.2rem; }
      #about-us #accordion .card .card-header:hover, #about-us #accordion .card .card-header:focus {
        background-color: #0b5cf1;
        color: white;
        transition: all 0.2s ease-in; }
      #about-us #accordion .card .card-header:hover::before, #about-us #accordion .card .card-header:focus::before {
        color: white; }
  #about-us .card-deck {
    margin: 3rem 0; }
    #about-us .card-deck .card {
      padding: 3rem 1rem;
      border: 1px solid #ccc;
      border-radius: 10px; }
      #about-us .card-deck .card i {
        font-size: 5rem;
        text-align: center;
        opacity: 0.6; }
      #about-us .card-deck .card h3 {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 1rem;
        font-family: "Lato", sans-serif;
        text-transform: capitalize; }
      #about-us .card-deck .card:hover {
        box-shadow: 0px 5px 20px #555;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out; }
        #about-us .card-deck .card:hover h3 {
          opacity: 1;
          color: white; }
        #about-us .card-deck .card:hover i {
          color: white;
          opacity: 1; }
  #about-us .course:hover {
    background-color: #4b4d4f; }
  #about-us .study:hover {
    background-color: #4b4d4f; }
  #about-us .school:hover {
    background-color: #4b4d4f; }
  #about-us .graduation:hover {
    background-color: #4b4d4f; }
  #about-us a {
    text-transform: capitalize; }
    #about-us a:hover {
      color: white;
      cursor: pointer; }

#course {
  padding: 5.5rem 0; }
  #course .card {
    width: 260px;
    height: 400px;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0px 5px 20px #555; }
    #course .card a {
      color: #333;
      text-decoration: none; }
    #course .card .card-image {
      height: 400px;
      position: relative;
      overflow: hidden; }
      #course .card .card-image img {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: grayscale(1);
        transition-property: filter width;
        transition-duration: .3s; }
    #course .card:hover .card-image img {
      width: 110%;
      filter: grayscale(0); }
    #course .card .card-body {
      font-family: #0b5cf1; }
      #course .card .card-body .card-title {
        text-transform: uppercase; }
        #course .card .card-body .card-title h3 {
          font-size: 1rem;
          text-align: center; }
      #course .card .card-body a {
        text-transform: uppercase;
        font-size: .9rem; }
        #course .card .card-body a:hover {
          color: white; }

#news {
  margin-top: 2.5rem; }
  #news .jumbotron {
    background-color: rgba(204, 204, 204, 0.11); }
  #news .news-card {
    margin: 0.4rem;
    padding: 1rem;
    text-align: left;
    background-color: #fff;
    font-family: "Lato", sans-serif; }
    #news .news-card .news-card-img {
      width: 100%;
      height: 96%; }
    #news .news-card h6 {
      text-transform: capitalize;
      font-size: 1.1rem; }
    #news .news-card .date {
      color: #ccc;
      font-size: .8rem; }
    #news .news-card p {
      text-align: justify;
      font-size: .9rem; }

#admission {
  padding: 2rem;
  background-color: #fff; }
  #admission .heading {
    margin-top: 4rem; }
  #admission img {
    width: 100%;
    height: 80%;
    box-shadow: 0px 5px 20px #555; }
  #admission .admission-text {
    font-size: 1.3rem;
    padding: 1.8rem;
    margin: 1rem;
    font-family: "Lato", sans-serif;
    text-align: justify;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: rgba(204, 204, 204, 0.158); }
  #admission a {
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem; }
    #admission a:hover {
      color: white; }

#subscribe .section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px; }

#subscribe .section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px); }

#subscribe .section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px; }

#subscribe .section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2; }

#subscribe .subscribe {
  padding: 15vh 0;
  background: url(../assets/img/contact-bg.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  min-height: 30vh; }

#subscribe .subscribe:before {
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

#subscribe .subscribe .section-header h2,
#subscribe .subscribe p {
  color: #fff; }

#subscribe form {
  display: flex;
  justify-content: center; }

#subscribe .subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0 5px;
  padding: 9px 10px;
  border-radius: 50px;
  font-size: 14px; }

#subscribe .subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #0b5cf1;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px; }

#subscribe .subscribe button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid white; }

@media only screen and (min-width: 768px) {
  #subscribe .subscribe input {
    min-width: 400px; } }

#contact-us {
  overflow: hidden;
  padding: 1.5rem 0;
  height: 100% !important;
  background-color: #4d4b4bea;
  color: white;
  font-family: "Lato", sans-serif; }
  #contact-us .line-contact {
    display: none; }
  #contact-us h4 {
    margin-top: 1rem;
    text-transform: uppercase; }
  #contact-us .about {
    font-family: "Lato", sans-serif;
    text-align: center; }
    #contact-us .about img {
      width: 40px;
      height: 40px;
      margin: 0 auto; }
    #contact-us .about p {
      text-align: center;
      font-size: .9rem; }
    #contact-us .about .social-links a {
      text-align: center;
      float: left;
      width: 40px;
      height: 40px;
      border: 1px solid #909090;
      border-radius: 100%;
      margin-right: 7px;
      /*space between*/ }
      #contact-us .about .social-links a i {
        font-size: 1.3rem;
        line-height: 38px;
        color: #e9e3e3; }
      #contact-us .about .social-links a:hover {
        background-color: #909090;
        color: white; }
  #contact-us .quick-links ul {
    margin-top: 1.4rem; }
  #contact-us .quick-links li {
    list-style: none;
    font-size: .8rem;
    margin-top: .9rem;
    text-align: left; }
    #contact-us .quick-links li a {
      color: #e9e3e3;
      text-transform: uppercase; }
  #contact-us .question h6 {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    text-align: left;
    margin-left: 1.2rem; }
  #contact-us .question a {
    text-decoration: none;
    color: white;
    padding: 0;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    text-align: left; }
  #contact-us .question i {
    text-align: center;
    font-size: 1.3rem;
    margin-right: .4rem;
    font-size: 1.3rem;
    line-height: 38px;
    color: #e9e3e3; }
  #contact-us iframe {
    border: 1px solid red; }
  #contact-us .line-contact {
    width: 80%;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.199);
    border: 0.05rem solid rgba(255, 255, 255, 0.507);
    margin: .8rem auto; }
  #contact-us .aetec {
    margin: .9rem !important; }

#news-item {
  background-color: #d3d0d0; }
  #news-item .card {
    font-family: "Lato", sans-serif;
    margin: 5rem auto;
    width: 40vw;
    box-shadow: 0px 5px 20px rgba(8, 8, 8, 0.199); }
    #news-item .card img {
      width: 100%;
      height: 20%; }
    #news-item .card h5 {
      font-size: 2rem;
      letter-spacing: 0.08rem; }
    #news-item .card p {
      font-size: .9rem;
      letter-spacing: 0.08rem;
      text-align: justify; }

#about-us-page {
  margin: 5rem 0; }
  #about-us-page .card {
    margin: 0.4rem;
    padding: 1rem;
    background-color: rgba(204, 204, 204, 0.178);
    font-family: "Lato", sans-serif; }
  #about-us-page h2 {
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem .5rem; }
  #about-us-page p {
    letter-spacing: 0.08rem;
    text-align: left;
    font-size: 1.1rem;
    margin: 0;
    padding: 0; }
  #about-us-page h5 {
    font-size: 1.1rem; }
  #about-us-page li {
    font-size: 1rem; }

#admission-page {
  font-family: "Lato", sans-serif;
  margin: 5.5rem 0; }
  #admission-page h1 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase; }
  #admission-page .card {
    margin: 1rem;
    border-radius: .5rem;
    background-color: rgba(204, 204, 204, 0.082); }
  #admission-page .card-title {
    text-align: center;
    padding: .9rem 0 0 0;
    text-transform: capitalize; }
  #admission-page .card-body img {
    margin: 0 0 .7rem 0;
    width: 100%;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.151); }
  #admission-page .card-body p {
    font-size: 1rem;
    text-decoration: none;
    color: black; }
  #admission-page .card-body a {
    text-decoration: none; }

#course-page .heading {
  margin-top: 6rem; }

#course-page .card {
  background-color: #90909011;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  padding: 1rem;
  margin: 1rem; }
  #course-page .card img {
    width: 100%;
    padding: auto 0;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.432); }
  #course-page .card h2 {
    font-size: 2rem; }
  #course-page .card li {
    font-size: 1rem; }
